<h1>ACERCA DE NOSOTROS</h1>

<h3>Grupo Danisar en acción</h3>
<p>fotos</p>
<p>fotos</p>
<p>fotos</p>

<hr>
<h3>Un poco de nuestro origen</h3>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
  Veritatis fugit laboriosam distinctio delectus, quidem nihil,
  ea voluptate cumque quas dolor corporis? Quibusdam deserunt 
  eum illum voluptatibus. Incidunt nulla cupiditate soluta 
  necessitatibus inventore adipisci explicabo nisi aspernatur 
  perspiciatis odit recusandae numquam illo labore ex praesentium
  eque minima vel, quos veniam magni maiores? Corporis fugit 
  facere asperiores odit voluptatibus eligendi dolorum! Delectus,
  perspiciatis exercitationem sit quisquam, consequuntur 
  corporis asperiores vero voluptates, deleniti et pariatur 
  vitae repellat animi perferendis aliquid nesciunt unde odio
  doloribus? Laboriosam aperiam magnam, alias debitis sunt
  ducimus molestias aspernatur! ipsum dolor sit amet 
  consectetur adipisicing elit. Culpa temporibus repellat 
  adipisci excepturi modi omnis fugiat mollitia unde 
  doloremque eaque, iste ad ea aspernatur, maxime cumque
  similique quidem impedit suscipit?
</p>
