h1{
    font: bold 40px arial;
    text-align: center;
}

h3{
    font: bold 25px 'Times New Roman'
}

p{
    font: 18px 'Times New Roman' ;
    text-align: justify;
    margin-right: 300px;
    margin-left: 100px;
}

.base{
    background-color: lightblue;
    color: red;
}